<div class="modal-header">
    <h5>Editar Alumno</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="alert alert-success" role="alert" hidden id="alumno-success">
        Registro grabado con éxito
    </div>
    <div class="alert alert-danger" role="alert" id="alumno-result" hidden>{{result}}</div>
    <form>
        <fieldset class="pt-2">
            <label for="matricula">Matricula</label>
            <input type="number" disabled name="matricula" class="form-control" value="{{alumno.Matricula}}" required min="0">
            <div name="matricula-error" hidden class="text-danger">Matricula ya en uso</div>
        </fieldset>
        <fieldset class="pt-2">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" class="form-control" value="{{alumno.Nombre}}" required minlength="3" pattern="([a-zA-Z]+\s)*[a-zA-Z]+$">
        </fieldset>
        <fieldset class="pt-2">
            <label for="apellidoPaterno">Apellido Paterno</label>
            <input type="text" name="apellidoPaterno" class="form-control" value="{{alumno.ApellidoPaterno}}" required minlength="3" pattern="[a-zA-Z]+$">
        </fieldset>
        <fieldset class="pt-2">
            <label for="apellidoMaterno">Apellido Materno</label>
            <input type="text" name="apellidoMaterno" class="form-control" value="{{alumno.ApellidoMaterno}}" required minlength="3" pattern="([a-zA-Z]+\s)*[a-zA-Z]+$">
        </fieldset>
        <fieldset class="mt-2">
            <label for="estatus">Estatus</label>
            <select class="form-select" name="estatus">
                <option value="Activo" selected>Activo</option>
                <option value="Inactivo">Inactivo</option>
                </select>
        </fieldset>
        <fieldset class="pt-2">
            <label for="usuario">Usuario (Debe iniciar con una letra)</label>
            <input type="text" name="usuario" class="form-control" value="{{alumno.Usuario}}" required minlength="3" pattern="([a-zA-Z]+\s)*[a-zA-Z0-9]+$">
            <div id="usuario-error" hidden class="text-danger">Usuario ya en uso</div>
        </fieldset>
        <fieldset class="pt-2">
            <label for="contrasena">Cambiar contraseña (Dejar en blanco si no se requiere)</label>
            <input type="password" name="contrasena" class="form-control" value="" placeholder="Nueva Contraseña" minlength="3" pattern="[a-zA-Z0-9]+$">
        </fieldset>
        <fieldset class="mt-3 d-flex justify-content-end">
            <button class="btn btn-danger m-4 mt-0 mb-0" (click)="deleteAlumno()">Borrar Alumno</button>
            <button class="btn btn-warning" (click)="editAlumno()">Guardar Cambios</button>
        </fieldset>
    </form>
</div>
