<div class="table-responsive px-4">
    <h2 class="p-4">Catalogo de Grupos</h2>
    <button class="btn btn-success m-4 mt-0" data-bs-toggle="modal" data-bs-target="#externalModal" routerLink="nuevo">Agregar Grupo</button>
    <button class="btn btn-secondary m-4 mt-0" data-bs-toggle="modal" data-bs-target="#externalModal" routerLink="{{'buscar'}}">Buscar Grupo</button>
    <table class="table table-hover table-borderless bg-body">
        <thead>
            <tr>
                <th>ID</th>
                <th>Clave Materia</th>
                <th>Limite de Alumnos</th>
                <th>Estatus</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let grupo of grupos">
                <td>{{grupo.IdGrupo}}</td>
                <td>{{grupo.Clave}}</td>
                <td>{{grupo.CantidadAlumnos}}</td>
                <td>{{grupo.Estatus}}</td>
                <td>
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#externalModal" routerLink="{{'editar/' + grupo.IdGrupo}}">
                        <svg width="16" height="16" fill="white" class="bi bi-bok" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="externalModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>