<div class="table-responsive px-4">
    <h2 class="p-4">Inscripcion de materias</h2>
    <table class="table table-borderless table-hover table-condensed bg-body">
        <thead>
            <tr>
                <th>Grupo</th>
                <th>Cve Materia</th>
                <th>Nombre</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let grupo of inscritos">
                <td>{{grupo.IdGrupo}}</td>
                <td>{{grupo.Clave}}</td>
                <td>{{grupo.Nombre}}</td> 
                <td>
                    <button *ngIf="!inscritos.includes(grupo)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#externalModal" (click)="inscribir(grupo)">
                        Inscribir
                    </button>
                    <button *ngIf="inscritos.includes(grupo)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#externalModal" (click)="darBaja(grupo)">
                        Dar de baja
                    </button>
                </td>
            </tr>
            <tr *ngFor="let grupo of grupos">
                <td>{{grupo.IdGrupo}}</td>
                <td>{{grupo.Clave}}</td>
                <td>{{grupo.Nombre}}</td>
                <td>
                    <button *ngIf="!inscritos.includes(grupo)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#externalModal" (click)="inscribir(grupo)">
                        Inscribir
                    </button>
                    <button *ngIf="inscritos.includes(grupo)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#externalModal">
                        Dar de baja
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="externalModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="isLoading == true">CARGANDO...</div>
                <div *ngIf="isLoading == false && selected != null">
                    <div [innerHTML]="msg"></div>
                </div>
            </div>
        </div>
    </div>
</div>